.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.title {
  background: black;
  color: white;
  padding: 10px;
}

.title_text {
  margin: 10px;
}

.input_back {
  background: rgb(226, 226, 226, 0.8);
}

.input {
  height: 50px;
  width: 50%;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  padding-left: 10px;
}

.list {
  display: flex;
  flex-shrink: 0;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
  /* gap: 10px; */
  overflow-y: auto;
  padding-top: 150px;
}

.element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  font-size: 20px;
  text-align: start;
  gap: 10px;
  padding: 10px;
  padding-left: 15px;
  background: white;
  border-radius: 10px;
}

.spacer {
  flex: 1;
}

.editInput {
  width: 50%;
  font-size: 20px;
  border-radius: 10px;
}

.spaceBetweenElement {
  display: flex;
  width: 50%;
}

.firstElement {
  width: 50%;
  height: 100px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
